.atras {
    margin-right: 16px;
}

.gracias {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    line-height: 24px;
    color: #3498DB;
    font-weight: 600;
}

.correo {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
    line-height: 20px;
}

.form-request .btn-primary {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background: #3498DB;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
}

.form-request .btn-primary:hover {
    background: #36AD36;
    border: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.form-request .btn-default {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 20px;
    padding: 5px 25px;
    background: rgb(228, 228, 228);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
}

.form-request .btn-default:hover {
    background: #CCC;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.explication {
    font-family: 'Montserrat', sans-serif !important;
    color: #696969;
    font-style: italic;
}

.mat-input-element {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}