<div class="animated fadeIn fast page-container">
    <section class="section-header animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <h1>Solicitá lo que necesitas</h1>
                    <p>Completá este sencillo formulario detallando le falta al centro de salud donde trabajas.</p>
                </div>
                <div class="col-12 col-md-3 icon is-desktop">
                    <img src="assets/icons/hospital-icon-white.svg" alt="Doná">
                </div>
            </div>
        </div>
    </section>
    <section class="form-request">
        <div class="container">
            <mat-vertical-stepper (selectionChange)="stepsChange($event)">
                <form (ngSubmit)="formSubmit()">
                    <div [formGroup]="requestorForm">
                        <mat-step label="Entidad de salud">
                            <app-inner-request (selectLocalityArray)="getAllLocalities($event)"
                                (selectLocality)="getlocality($event)"></app-inner-request>
                            <p>Escriba el nombre de su efector de salud</p>
                            <input class="row col-12 mb-3 transformCapital" mdInput type="text" placeholder="Efector"
                                matInput [formControl]="EffectorCtrl" [matAutocomplete]="autoEffector" required
                                name="effector">
                            <mat-autocomplete #autoEffector="matAutocomplete">
                                <mat-option *ngFor="let effector of filteredEffectors | async" [value]="effector">
                                    {{effector |titlecase}}
                                </mat-option>
                            </mat-autocomplete>

                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <button mat-button type="button" matStepperNext
                                        class="btn btn-primary">Continuar</button>
                                </div>
                            </div>
                        </mat-step>

                        <mat-step label="Tus datos" style="font-size: 22px!important;">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input formControlName="PersonName" type="text" class="form-control" value=""
                                            required
                                            [class.is-invalid]="requestorForm.get('PersonName').invalid && requestorForm.get('PersonName').touched">
                                    </div>
                                    <div *ngIf="(requestorForm.get('PersonName').invalid &&
                                            requestorForm.get('PersonName').touched) || requestorForm.get('PersonName').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                        <small *ngIf="requestorForm.get('PersonName').errors?.required"
                                            class="text-danger">El nombre es requerido</small>
                                        <small *ngIf="requestorForm.get('PersonName').errors?.minlength"
                                            class="text-danger">El nombre debe tener dos caracteres como mínimo</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input formControlName="PersonLastname" type="text" class="form-control"
                                            value="" required
                                            [class.is-invalid]="personLastname.invalid && personLastname.touched">
                                    </div>
                                    <div *ngIf="(personLastname.invalid && personLastname.touched) || personLastname.dirty || !formControlsAreFilled && TusDatosPassed"
                                        class="mensajeDeError">
                                        <small *ngIf="personLastname.errors?.required" class="text-danger">El apellido
                                            es
                                            requerido</small>
                                        <small *ngIf="personLastname.errors?.minlength" class="text-danger">El nombre
                                            debe tener dos caracteres como mínimo</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input formControlName="PersonEmail" type="email" class="form-control" #email
                                            required
                                            [class.is-invalid]="requestorForm.get('PersonEmail').invalid && requestorForm.get('PersonEmail').touched">
                                    </div>
                                    <div *ngIf="(personEmail.invalid && personEmail.touched) || personEmail.dirty || !formControlsAreFilled && TusDatosPassed"
                                        class="mensajeDeError">
                                        <small *ngIf="personEmail.errors?.required" class="text-danger">El email es
                                            requerido</small>
                                        <!--question mark(?) is a safe navigation operator-->
                                        <small *ngIf="personEmail.errors?.pattern" class="text-danger">Por favor provea
                                            un
                                            email válido</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="form-group">
                                        <label>Tel&eacute;fono (prefijo - n&uacute;mero)</label>
                                        <div class="input-group">
                                            <input formControlName="PersonPhonePrefix" type="tel"
                                                class="form-control col-3"
                                                [class.is-invalid]="requestorForm.get('PersonPhonePrefix').invalid && requestorForm.get('PersonPhonePrefix').touched">

                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text">-</span>
                                            </div>
                                            <input formControlName="PersonPhone" type="tel" class="form-control"
                                                value="" required
                                                [class.is-invalid]="requestorForm.get('PersonPhone').invalid && requestorForm.get('PersonPhone').touched">
                                        </div>
                                    </div>
                                    <div class="align_divs">
                                        <div *ngIf="(requestorForm.get('PersonPhonePrefix').invalid &&
                                            requestorForm.get('PersonPhonePrefix').touched) || requestorForm.get('PersonPhonePrefix').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                            <small *ngIf="requestorForm.get('PersonPhonePrefix').errors?.required"
                                                class="text-danger children_divs">El prefijo es requerido</small>
                                            <small *ngIf="requestorForm.get('PersonPhonePrefix').errors?.minlength"
                                                class="text-danger children_divs">La cantidad mínima es de dos dígitos
                                                para el prefijo</small>

                                        </div>
                                        <div *ngIf="(requestorForm.get('PersonPhone').invalid &&
                                            requestorForm.get('PersonPhone').touched) || requestorForm.get('PersonPhone').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                            <small *ngIf="requestorForm.get('PersonPhone').errors?.required"
                                                class="text-danger">El teléfono es requerido</small>
                                            <small *ngIf="requestorForm.get('PersonPhone').errors?.pattern"
                                                class="text-danger">Por favor provea un teléfono válido</small>
                                            <small *ngIf="requestorForm.get('PersonPhone').errors?.minlength"
                                                class="text-danger">La cantidad mínima es de seis dígitos para el
                                                teléfono</small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input formControlName="PersonAddress" type="text" class="form-control" value=""
                                            required
                                            [class.is-invalid]="requestorForm.get('PersonAddress').invalid && requestorForm.get('PersonAddress').touched">
                                    </div>
                                    <div *ngIf="(requestorForm.get('PersonAddress').invalid &&
                                            requestorForm.get('PersonAddress').touched) || requestorForm.get('PersonAddress').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                        <small *ngIf="requestorForm.get('PersonAddress').errors?.required"
                                            class="text-danger">La dirección es requerida</small>
                                        <small *ngIf="requestorForm.get('PersonAddress').errors?.minlength"
                                            class="text-danger">La dirección debe tener dos caracteres como
                                            mínimo</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input formControlName="PersonAddressNumber" type="number" class="form-control"
                                            value="" required
                                            [class.is-invalid]="requestorForm.get('PersonAddressNumber').invalid && requestorForm.get('PersonAddressNumber').touched">
                                    </div>
                                    <div *ngIf="(requestorForm.get('PersonAddressNumber').invalid &&
                                            requestorForm.get('PersonAddressNumber').touched) || requestorForm.get('PersonAddressNumber').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                        <small *ngIf="requestorForm.get('PersonAddressNumber').errors?.required"
                                            class="text-danger">La altura es requerida</small>

                                        <small *ngIf="requestorForm.get('PersonAddressNumber').errors?.min"
                                            class="text-danger">La altura debe ser mayor a cero</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input formControlName="PersonCity" type="text" class="form-control" value=""
                                            required
                                            [class.is-invalid]="requestorForm.get('PersonCity').invalid && requestorForm.get('PersonCity').touched">
                                    </div>
                                    <div *ngIf="(requestorForm.get('PersonCity').invalid &&
                                            requestorForm.get('PersonCity').touched) || requestorForm.get('PersonCity').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                        <small *ngIf="requestorForm.get('PersonCity').errors?.required"
                                            class="text-danger">La ciudad es requerida</small>
                                        <small *ngIf="requestorForm.get('PersonCity').errors?.minlength"
                                            class="text-danger">Dos caracteres como mínimo</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>Código Postal</label>
                                        <input formControlName="PersonPostalCode" type="number" class="form-control"
                                            required
                                            [class.is-invalid]="requestorForm.get('PersonPostalCode').invalid && requestorForm.get('PersonPostalCode').touched">
                                    </div>
                                    <div *ngIf="(requestorForm.get('PersonPostalCode').invalid &&
                                            requestorForm.get('PersonPostalCode').touched) || requestorForm.get('PersonPostalCode').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                        <small *ngIf="requestorForm.get('PersonPostalCode').errors?.required"
                                            class="text-danger">El código postal es requerido</small>
                                        <small *ngIf="requestorForm.get('PersonPostalCode').errors?.min"
                                            class="text-danger">El código postal debe ser mayor a cero</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <input formControlName="PersonDepartment" type="text" class="form-control"
                                            value="">

                                    </div>
                                    <!--
                                <div *ngIf="(requestorForm.get('PersonDepartment').invalid &&
                                            requestorForm.get('PersonDepartment').touched) || requestorForm.get('PersonDepartment').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                    <small *ngIf="requestorForm.get('PersonDepartment').errors?.required"
                                        class="text-danger">El departamento es requerido</small>
                                  
                                </div>
                                -->
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>Provincia</label>
                                        <input formControlName="PersonProvince" type="text" class="form-control"
                                            value="" required
                                            [class.is-invalid]="requestorForm.get('PersonProvince').invalid && requestorForm.get('PersonProvince').touched">
                                    </div>
                                    <div *ngIf="(requestorForm.get('PersonProvince').invalid &&
                                            requestorForm.get('PersonProvince').touched) || requestorForm.get('PersonProvince').dirty ||
                                            !formControlsAreFilled && TusDatosPassed" class="mensajeDeError">
                                        <small *ngIf="requestorForm.get('PersonProvince').errors?.required"
                                            class="text-danger">La provincia es requerida</small>
                                        <small *ngIf="requestorForm.get('PersonProvince').errors?.minlength"
                                            class="text-danger">Dos caracteres como mínimo</small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <button mat-button type="button" matStepperPrevious
                                        class="btn btn-default atras">Atrás</button>
                                    <button mat-button type="button" matStepperNext
                                        class="btn btn-primary">Continuar</button>
                                </div>
                            </div>
                        </mat-step>
                        <div [formGroup]="requestorFormThirdStep">
                            <mat-step class="my-step" label="¿Qué es lo que procurás solicitar?">
                                <div class="row">
                                    <div class="col-12" *ngFor="let order of ordersData">
                                        <div class="row">
                                            <div class="col-12 col-md-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input #orderName class="custom-control-input" id="{{order._id}}"
                                                        type="checkbox" (change)="onOrderChange(order, $event)"
                                                        name="orderId" required />
                                                    <label class="custom-control-label"
                                                        for="{{order._id}}">{{order.name}}</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" *ngIf='orderName.checked'>
                                                <div class="form-group">
                                                    <label class="explication">Cantidad de {{order.name}}</label>
                                                    <input (change)="onQuantityChange(order, $event)" type="number"
                                                        class="form-control" value="" required
                                                        formControlName="SuppliesItemsQuantity" type="number">
                                                    <div *ngIf="(requestorFormThirdStep.get('SuppliesItemsQuantity').touched) || requestorFormThirdStep.get('SuppliesItemsQuantity').dirty ||
                                                !shown && InsumosPassed" class="mensajeDeError">
                                                        <small
                                                            *ngIf="requestorFormThirdStep.get('SuppliesItemsQuantity').errors?.required"
                                                            class="text-danger">La cantidad es requerida</small>
                                                        <small
                                                            *ngIf="requestorFormThirdStep.get('SuppliesItemsQuantity').errors?.min"
                                                            class="text-danger">La cantidad debe ser mayor a
                                                            cero</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngIf="!shown && InsumosPassed">

                                    <small class="error">Por favor marca una opción</small>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-12">
                                        <button mat-button matStepperPrevious class="btn btn-default atras"
                                            type="button">Atrás</button>
                                        <button mat-button matStepperNext class="btn btn-primary" type="submit"
                                            (click)="formSubmit()">Enviar Formulario</button>
                                    </div>
                                </div>

                            </mat-step>
                        </div>
                        <mat-step label="Lo último">
                            <div
                                *ngIf='EffectorCtrl.value && formControlsAreFilled && shown == true && SuppliesItems.quantity'>
                                <p class="gracias">¡Muchas gracias!</p>
                                <p class="correo">Su número de seguimiento es {{resultData?.tracking.number}}</p>
                            </div>
                            <div *ngIf='!EffectorCtrl.value'>
                                <p class="error">Por favor completa la entidad de salud</p>
                            </div>
                            <div *ngIf='!formControlsAreFilled'>
                                <p class="error">Por favor completa tus datos</p>
                            </div>
                            <div *ngIf='!shown'>
                                <p class="error">Por favor ingresa un insumo a solicitar</p>
                            </div>
                            <div *ngIf="shown == true && SuppliesItems.quantity <1">
                                <p class="error">La cantidad de insumos debe ser mayor a cero</p>
                            </div>
                        </mat-step>
                    </div>
                </form>
            </mat-vertical-stepper>
        </div>
    </section>
</div>