.form-request {
    padding-top: 50px;
}

input#mat-input-0 {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

input#mat-input-1.mat-input-element.mat-form-field-autofill-control.mat-autocomplete-trigger.row.col-12.mb-3.cdk-text-field-autofill-monitored.ng-untouched.ng-pristine.ng-invalid {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

#img-product {
    margin-top: 15px;
    max-width: 150px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}