<div class="animated fadeIn fast page-container">
    <section class="section-header animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <h1>Doná a los más cercanos. </h1>
                    <p>Completá nuestro formulario. Ayudanos a que te conozcamos mejor en tres simples pasos.</p>
                </div>
                <div class="col-12 col-md-3 icon is-desktop">
                    <img src="assets/icons/donate-icon-white.svg" alt="Doná">
                </div>
            </div>
        </div>
    </section>
    <section class="form-donate">
        <div class="container">
            <mat-vertical-stepper>
                <mat-step class="my-step" label="¿Qué podrías donar?">
                    <div class="row">
                        <div class="col-12" *ngFor="let supplie of supplies">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="{{supplie._id}}" type="checkbox" #barbijos (change)="0" [(ngModel)]="supplie.showMe" />
                                        <label class="custom-control-label" for="{{supplie._id}}">{{supplie.name}}</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" *ngIf="supplie.showMe">
                                    <div class="form-group">
                                        <label class="explication">Cantidad de {{supplie.name}}</label>
                                        <input type="number" min=0 class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="otroCheck" type="checkbox" #otro (change)="0" />
                                        <label class="custom-control-label" for="otroCheck">Otro</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" *ngIf="otro.checked">
                                    <div class="form-group">
                                        <label class="explication">Especificar donación</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" *ngIf="otro.checked">
                                    <div class="form-group">
                                        <label class="explication">Cantidad</label>
                                        <input type="number" min=0 class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <button mat-button matStepperNext class="btn btn-primary">Continuar</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="Dejanos tus datos">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="tel" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Provincia</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Código Postal</label>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <button mat-button matStepperPrevious class="btn btn-default atras">Atrás</button>
                            <button mat-button matStepperNext class="btn btn-primary">Continuar</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="Doná">
                    <p class="gracias">¡Muchas gracias!</p>
                    <p class="correo">Te vamos a enviar un correo electrónico con instrucciones. Tu código de seguimiento es <strong>DN158092</strong> </p>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </section>
</div>