<div class="my-modal" mat-dialog-content>
    <h1 class="modal-title" mat-dialog-title>RECUPERAR CONTRASEÑA</h1>
    <p>¿Has olvidado tu contraseña? No te asustes, simplemente rellena el formulario</p>
    <mat-form-field class="full-width-input">
        <input placeholder="Correo electrónico" matInput [(ngModel)]="data.email">
    </mat-form-field>
</div>

<div class="row" mat-dialog-actions>
    <div class="col-md-6">
        <button mat-button class="btn btn-default atras" (click)="onNoClick()">Cancelar</button>
    </div>
    <div class="col-md-6">
        <button mat-button class="btn btn-primary" [mat-dialog-close]="data.email" cdkFocusInitial>Recuperar</button>
    </div>
</div>
<br><br>
<div class="row" mat-dialog-actions>
    <div class="col-md-12">
        <p class="pt-1">
            ¿No tienes una cuenta en JuntAR?
            <button class="nobutton blue-text" (click)="openDialog()">Registrate</button>
        </p>
    </div>
</div>
<div class="row" mat-dialog-actions>
    <div class="col-md-12">
        <p class="pt-1">
            ¿Tienes una cuenta?
            <button class="nobutton blue-text" (click)="openModalLogin()">Ingresa</button>
        </p>
    </div>
</div>