<div class="animated fadeIn fast page-container">
  <section class="section-header-complete no-found animated fadeIn" *ngIf="!existTrackingNumber">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-5">
          <h1>Seguimiento de solicitudes</h1>
          <div class="alert alert-info" role="alert">
            No existen ninguna solicitud con el código:
            {{ (dataSource.data.length>50)? (dataSource.data | slice:0:50)+'..':(dataSource.data)  }}
          </div>
          <a (click)="goBack()" class="btn btn-outline-primary" type="button">Volver</a>
        </div>
        <div class="col-12 offset-md-2 col-md-5 background-special is-desktop">
          <img src="assets/elements/background-search.png" width="100%">
        </div>
      </div>
    </div>
  </section>
  <section class="section-header-complete found animated fadeIn" *ngIf="existTrackingNumber">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12">
          <h1>Tu solicitud</h1>
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="cod">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Código de Seguimiento </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="effectorId">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id del efector </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ _tracking.order.healthCenterId }}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="priority">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ _tracking.order.priority }} </mat-cell>
            </ng-container>



            <ng-container matColumnDef="donations">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Donaciones </mat-header-cell>
              <mat-cell *matCellDef="let row"> </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <a [routerLink]="['/home']" class="btn btn-outline-primary" type="button">Volver</a>
        </div>
      </div>
    </div>
  </section>
</div>