<div class="animated fadeIn fast page-container">
    <section class="section-header-diferent animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <h1>Red de Productores</h1>
                    <p> Ayudamos a la búsqueda y vinculación entre las organizaciones y pymes. Sumate a nuestra red de productores para que te puedan contactar según lo que producís. 
                    </p>
                    <button class="btn btn-outline-primary">Registrate</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section-produce animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-12">
                    <h3>Listado de productores</h3>
                        <mat-form-field>
                          <mat-label>Buscar productor</mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="Pyme, insumo o ubicación">
                        </mat-form-field>
                        
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        
                          <ng-container matColumnDef="pyme">
                            <th mat-header-cell *matHeaderCellDef> Nombre de Pyme </th>
                            <td mat-cell *matCellDef="let element"> {{element.pyme}} </td>
                          </ng-container>

                          <ng-container matColumnDef="insumos">
                            <th mat-header-cell *matHeaderCellDef> Insumos</th>
                            <td mat-cell *matCellDef="let element"> {{element.insumos}} </td>
                          </ng-container>

                          <ng-container matColumnDef="telefono">
                            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                          </ng-container>

                          <ng-container matColumnDef="ubicacion">
                            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                            <td mat-cell *matCellDef="let element"> {{element.localidad}} {{element.provincia}}</td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>                                             
                </div>
            </div>
        </div>
    </section>
</div>