<section class="animated fadeIn fast section-header" id="section-home">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-12 col-md-9">
                <div class="brand-home">
                    <img src="assets/brand/brand-vertical-v1.svg" alt="Logo Juntar">
                    <h1>La plataforma de conexión de insumos críticos frente al COVID-19</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="animated fadeIn" id="section-icons">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-padding">
                <div class="icons">
                    <p class="icon-title">RED DE PRODUCTORES</p>
                    <p>Si sos una PYME, sumate a nuestra red de productores y proveedores. Si sos una organización de salud <br> buscando proveedores encontralos aqui.</p>
                    <div role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <a class="btn btn-primary" title="Sumate a nuestra Red" (click)="openDialog()" style="color: white;">Registrate</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a [routerLink]="['/produce']" fragment="listado-productores" class="btn btn-primary" title="Encontrá productores">Encontrá</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-padding">
                <div class="icons">
                    <p class="icon-title">DONACION INTELIGENTE</p>
                    <p>De acuerdo a lo que podés dar y el lugar en el que te encontrás, te recomendamos las entidades que podés ayudar. Si sos un efector de salud u otra organización expuesta, solicitá lo que necesitas.</p>
                    <div role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <a [routerLink]="['/donate']" class="btn btn-primary" title="Doná">Doná</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a [routerLink]="['/request']" class="btn btn-primary" title="Solicitá">Solicitá</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="animated fadeIn" id="section-cards">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Últimas solicitudes</h2>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="assets/icons/alert-icon.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Necesitamos Barbijos para el Hospital Clemente Alvarez</h5>
                        <p class="card-text"><strong>Cantidad:</strong> 5000</p>
                        <p class="card-text"><strong>Lugar:</strong> Hospital de Emergencias Dr. Clemente Álvarez, Rosario, Santa Fe.</p>
                        <p class="card-text"><small class="text-muted">Hace 3 mins.</small></p>
                        <div class="text-center">
                            <a [routerLink]="" class="btn btn-primary" title="">Colaborar</a>
                        </div>
                    </div>
                </div>
                <div class="card is-desktop">
                    <img class="card-img-top" src="assets/icons/alert-icon.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Necesitamos Barbijos para el Hospital Clemente Alvarez</h5>
                        <p class="card-text"><strong>Cantidad:</strong> 5000</p>
                        <p class="card-text"><strong>Lugar:</strong> Hospital de Emergencias Dr. Clemente Álvarez, Rosario, Santa Fe.</p>
                        <p class="card-text"><small class="text-muted">Hace 30 mins.</small></p>
                        <div class="text-center">
                            <a [routerLink]="" class="btn btn-primary" title="">Colaborar</a>
                        </div>
                    </div>
                </div>
                <div class="card is-desktop">
                    <img class="card-img-top" src="assets/icons/alert-icon.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Necesitamos Barbijos para el Hospital Clemente Alvarez</h5>
                        <p class="card-text"><strong>Cantidad:</strong> 5000</p>
                        <p class="card-text"><strong>Lugar:</strong> Hospital de Emergencias Dr. Clemente Álvarez, Rosario, Santa Fe.</p>
                        <p class="card-text"><small class="text-muted">Hace 1 hr.</small></p>
                        <div class="text-center">
                            <a [routerLink]="" class="btn btn-primary" title="">Colaborar</a>
                        </div>
                    </div>
                </div>
            </div>
            <a [routerLink]="" class="btn btn-secondary btn-lg btn-block">Ver todas las solicitudes</a>
        </div>
    </div>
</section>
<section class="animated fadeIn" id="section-counters">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3>El <strong>cambio</strong> lo <strong>hacemos entre todos</strong></h3>
            </div>
            <div class="col-12 col-md-4 text-center">
                <p class="title-number">9000</p>
                <p class="text">Donaciones</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <p class="title-number">30000</p>
                <p class="text">Solicitudes atendidas</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <p class="title-number">500</p>
                <p class="text">Contactos generados</p>
            </div>
        </div>
    </div>
</section>