<div class="animated fadeIn fast page-container">
    <section class="section-header-diferent animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <h1>Perfil del productor</h1>
                    <p> Ayudamos a la búsqueda y vinculación entre las organizaciones y pymes. Sumate a nuestra red de productores para que te puedan contactar según lo que producís.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- Default form contact -->
        <form class="text-center border border-light p-5" action="#!">

            <p class="h4 mb-4">¡Ponete en contacto!</p>

            <!-- Name -->
            <input type="text" id="defaultContactFormName" class="form-control mb-4" value="{{data.nombre}}">

            <!-- Email -->
            <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Cuidad -->
            <input type="text" id="defaultContactFormName" class="form-control mb-4" value="{{data.ciudad}}">

            <!-- insumos -->
            <input type="text" id="defaultContactFormName" class="form-control mb-4" value="{{data.insumos}}">

        </form>
        <!-- Default form contact -->
    </section>
</div>